<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Active Storage", root_path, class: "navbar-brand", id: "logo" %>

    </div>
    <ul class="nav navbar-nav">
      <li>
      <%= link_to "Single Image", animals_path %>
      </li>
      <li> <%= link_to "Multiple Images", companies_path %> </li>
      <li> <%= link_to "Documents", documents_path %> </li>
      
    </ul>
  </div>
</nav>